@{
    ViewBag.Title = "Personal page";
    ViewBag.Container = "container";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="mt-5" align="center">Choose mode: </h3>

<div class="d-flex flex-row justify-content-center">
    <a class="d-flex flex-column m-1 btn btn-secondary" id="create" style="width: 250px; height: 250px;" href="/Route/RouteConstructor?mode=1">
        <div class="flex-row" style=" font-size: 72px;">
            +
        </div>
        <div class="flex-row" style=" font-size: 48px;">
            Create
        </div>
    </a>
    <a class="d-flex flex-column m-1 btn btn-secondary" id="edit" style="width: 250px; height: 250px;" href="/Route/RouteConstructor?mode=2">
        <div class="flex-row" style=" font-size: 72px;">
            ✎
        </div>
        <div class="flex-row" style=" font-size: 48px;">
            Edit
        </div>
    </a>
    <a class="d-flex flex-column m-1 btn btn-secondary" id="remove" style="width: 250px; height: 250px;" href="/Route/RouteConstructor?mode=3">
        <div class="flex-row" style=" font-size: 72px;">
            -
        </div>
        <div class="flex-row" style=" font-size: 48px;">
            Remove
        </div>
    </a>
</div>